/* Reset de margin e padding padrão para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f9; /* Azul claro para o fundo */
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px 0;
  color: #000000; /* Azul para o cabeçalho */
}

header h1 {
  margin: 0;
  font-size: 28px;
}

.quiz-container,
.start-page {
  background-color: #ffffff; /* Branco puro para o container */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 60%; /* Ocupa 60% da largura da tela */
  height: 60vh; /* Altura igual à largura, 60% da altura da tela */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  margin: 20px; /* Espaço entre a estrutura e a borda da tela */
  position: relative; /* Para posicionar as vidas */
}

.start-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.start-page p {
  font-size: 18px;
  margin-bottom: 30px;
}

.start-page button {
  padding: 12px 24px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-page button:hover {
  background-color: #c0392b;
}

.question {
  margin-bottom: 20px;
  font-size: 28px;
}

.option {
  background-color: #f0f0f0; /* Cinza claro para as opções */
  color: #333;
  border: none;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.option:hover {
  background-color: #d0d0d0; /* Cinza mais escuro no hover */
}

.option.selected {
  background-color: #27ae60; /* Verde para a opção selecionada */
  color: #fff;
}

#timer {
  color: #e74c3c; /* Vermelho claro para o timer */
  font-size: 20px;
  margin-top: 10px;
}

#score {
  font-size: 24px;
  margin-top: 20px;
}

#confirm-button {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  background-color: #e74c3c; /* Vermelho claro para o botão */
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#confirm-button:hover {
  background-color: #c0392b; /* Vermelho mais escuro no hover */
}

.lives-display {
  font-size: 20px;
  position: absolute; /* Fixa a posição */
  bottom: 0; /* Fixa no canto inferior */
  left: 20px; /* Afasta um pouco da borda esquerda */
  display: flex;
  align-items: center;
}

.heart-emoji {
  margin-right: 5px;
  font-size: 24px;
}

/* Adicione um espaçamento vertical entre as opções */
.option:not(:last-child) {
  margin-bottom: 5px;
}

/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
  body {
    align-items: flex-start; /* Alinhe o conteúdo no topo da página */
    padding: 0; /* Remova o espaçamento ao redor do conteúdo */
    height: 100vh; /* Defina a altura do corpo para ocupar toda a tela */
    margin: 0; /* Remova a margem padrão */
  }

  .quiz-container, .start-page {
    width: 100%; /* Use a largura total da tela */
    margin: 10px 0; /* Reduza o espaço entre os contêineres */
  }
  
    .start-page h1 {
      font-size: 24px; /* Reduza ainda mais o tamanho da fonte do cabeçalho */
      margin-bottom: 10px; /* Adicione uma margem inferior menor */
    }

  .start-page p {
    font-size: 16px; /* Reduza o tamanho da fonte do texto */
    margin-bottom: 20px;
  }

  .start-page button {
    padding: 10px 20px; /* Reduza o tamanho do botão */
    font-size: 16px; /* Reduza o tamanho da fonte do botão */
  }

  .question {
    font-size: 24px; /* Reduza o tamanho da fonte da pergunta */
  }

  .option {
    padding: 10px 20px; /* Reduza o tamanho do padding da opção */
    margin: 5px 0; /* Alinhe verticalmente as opções */
    font-size: 16px; /* Reduza o tamanho da fonte da opção */
  }

  #timer {
    font-size: 16px; /* Reduza o tamanho da fonte do temporizador */
    margin-top: 5px;
  }

  #score {
    font-size: 20px; /* Reduza o tamanho da fonte da pontuação */
    margin-top: 10px;
  }

  #confirm-button {
    padding: 10px 20px; /* Reduza o tamanho do botão de confirmação */
    font-size: 16px; /* Reduza o tamanho da fonte do botão de confirmação */
  }

  .lives-display {
    font-size: 16px; /* Reduza o tamanho da fonte do contador de vidas */
  }

  .heart-emoji {
    font-size: 20px; /* Reduza o tamanho da fonte do emoji de coração */
  }
}
